:root {
    background-color: #F5F3EF;
    --card:#FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --outline: #DCDCDC;
}

h1, 
h2, 
h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

p, 
button {
    font-family: 'Roboto';
}

* {
    box-sizing: border-box;
  }
  
a {
   text-decoration: none;
   color: none;
  }

main, 
header, 
nav {
    margin: 0 80px;
}